@font-face {
    font-family: font3;
    src: url(/fonts/font3.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    height: 80vh;
    width: 100vw;
    background-color: #C6BEB4;
    position: relative;
}

#nav {
    height: 100px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#nav img {
    height: 50px;
}

#nav h5 {
    font-size: 18px;
    font-weight: 100;
}

#elems {
    /* background-color: rebeccapurple; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

}

#elem1 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    padding: 20px 50px;
}

#elem2 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 50px;
    text-align: center;
}

#elem3 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    padding: 20px 50px;
}

#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img{
    scale: 1.1;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem1 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Canopee;
}

#elem1 h4 span{
    background-color: #B93C12;
    color: #C6BEB4;
    font-weight: 100;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    margin-left: 5px;
}

#elem1 p{
    font-size: 22px;
    font-family: font3;
    font-weight: 10;
    color: #555454;
}


#elem2 h2{
    font-family: canopee;
    font-size: 65px;
    font-weight: 100;
}

#elem2 h3{
    font-family: font3;
    font-size: 30px;
    font-weight: 100;
    color: #555454;
}

#elem2 p{
    font-size: 15px;
    font-family: font3;
    font-weight: 10;
    color: #555454;
    padding: 10px 0;
}

#elem3 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Canopee;
    /* color: #555454; */
}

#elem3 h4 span{
    background-color: #B93C12;
    color: #C6BEB4;
    font-weight: 100;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    margin-left: 5px;
}

#elem3 p{
    font-size: 22px;
    font-family: font3;
    font-weight: 10;
    color: #555454;
}

#miranda h1{
    font-family: canopee;
    font-size: 430px;
    font-weight: 100;
    color: #C6BEB4;
    background-color: #1B1B19;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 400px;
}

#miranda {
    background-color: #C6BEB4;
}